<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Evz_Shipping" schema_version="1.0.0.0" active="true">
        <sequence>
            <module name="Magento_Sales"/>
            <module name="Magento_Shipping"/>
        </sequence>
        <depends>
            <module name="Magento_Store"/>
            <module name="Magento_Core"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Shipping"/>
            <module name="Magento_Directory"/>
        </depends>
    </module>
</config>